@use "../../styles/mixin.scss" as *;

.picture {
  width: 112px;
  height: 118px;

  @include tablet {
    width: 170px;
    height: 177px;
  }

  @include desktop {
    width: 296px;
    height: 296px;
  }
}
