//---------- COLOR -----------//
$primary-color: #010409;
$secondary-color: #0d1117;
$color-title: #ffffff;
$color-text: #f0f6fc;
$color-text-cards: #9198a1;
$color-btn: #238636;
$color-painting: #7451eb;
$color-hover-liens: #f85149;
$color-click-btn: #0e4429;
$color-border: #3d444d;
$color-js: #f1e05a;
$color-css: #663399;
$color-scss: #c6538c;
$color-html: #e34c26;
$color-react: #1f6feb;
$color-nodejs: #21a366;
$color-h3: #4493f8;

//---------- Text -----------//
$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-regular: 400;

//---------- MOBILE -----------//
$font-size-title-mobile: 16px;
$font-size-infos-mobile: 14px;
$font-size-text-mobile: 12px;

//---------- TABLETTE -----------//
$font-size-title-tab: 20px;
$font-size-infos-tab: 18px;
$font-size-text-tab: 12px;
