@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

//---------- COLOR -----------//
$primary-color: #010409;
$secondary-color: #0d1117;
$color-title: #ffffff;
$color-text: #f0f6fc;
$color-text-cards: #9198a1;
$color-btn: #238636;
$color-painting: #7451eb;
$color-hover-liens: #f85149;
$color-click-btn: #0e4429;
$color-js: #f1e05a;
$color-css: #663399;
$color-scss: #c6538c;
$color-html: #e34c26;
$color-react: #1f6feb;
$color-nodejs: #21a366;

//---------- Text -----------//
$font-family: "Poppins", sans-serif;
$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-regular: 400;

//---------- MOBILE -----------//
$font-size-title-mobile: 16px;
$font-size-infos-mobile: 14px;
$font-size-text-mobile: 12px;

//---------- TABLETTE -----------//
$font-size-title-tab: 20px;
