@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

.home {
  background: $secondary-color;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    padding: 0 30px;
    @include transition;
  }
  @include desktop {
    padding: 60px;
    @include transition;
  }

  &__about {
    @include flex-center;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
    @include transition;

    &--profil {
      @include flex-center;
      flex-direction: column;
      gap: 15px;
      padding: 10px;
      width: 90%;
      @include transition;

      .separation {
        width: 200px;
        border: 2px solid $color-border;
        @include transition;
      }
    }

    @include tablet {
      align-items: flex-start;
      flex-direction: row;

      &--profil {
        width: 40%;
        @include transition;

        .separation {
          width: 100%;
        }
      }
    }
    @include desktop {
      gap: 40px;
      @include transition;

      &--profil {
        width: 30%;
      }
    }

    &--presentation {
      width: 100%;
      @include transition;

      @include tablet {
        width: 65%;
      }
      @include desktop {
        width: 100%;
      }

      .pres {
        @include flex-center;
        flex-direction: column;
        border-top: 3px solid $color-border;
        border-bottom: 3px solid $color-border;
        gap: 15px;
        @include transition;

        @include tablet {
          width: 100%;
          border: 3px solid $color-border;
          border-radius: 30px;
          padding: 20px;
        }
      }
    }
  }

  &__career {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include transition;

    &--exp {
      width: 100%;
    }

    &--project {
      width: 100%;
      @include flex-center;
      flex-direction: column;
      border-top: 3px solid $color-border;

      @include tablet {
        border-top: none;
        border: 3px solid $color-border;
        border-radius: 30px;
        padding: 20px;
        margin-bottom: 30px;
        @include transition;
      }
    }

    @include desktop {
      margin-top: 0;
      padding: 0;
      position: relative;
      left: 27%;
      width: 73.1%;
      @include transition;
    }
  }
}
