@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

.btnModal {
  background: $color-btn;
  font-size: $font-size-title-mobile;
  font-weight: $font-weight-bold;
  color: $color-title;
  border: 1px solid $color-border;
  display: flex;
  justify-content: center;
  padding: 5px 10.5px;
  width: 100%;
  min-width: 236px;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;

  &:hover {
    background: rgba(35, 134, 54, 0.4);
    transform: scale(1.1);
  }

  @include tablet {
    font-size: $font-size-infos-tab;
    width: 82%;
    min-width: 217px;
    font-size: $font-size-title-mobile;
    padding: 8px 4.5px;
  }
}
